/*INDEX PAGE HTML*//*INDEX PAGE HTML*//*INDEX PAGE HTML*//*INDEX PAGE HTML*/

/* Login page style */
.clear {
  clear:both;
}
/* ===========> LINK STYLES <=========== */
a, a:link {
  /*font-family: Helvetica, Verdana, Sans-Serif;
  font-size: 11px;*/
  color: #cc0000;
  text-decoration: none;
}
a:visited {
  /*font-size: 11px;*/
  color: #cc0000;
  text-decoration: none;
}
a:hover {
  /*font-size: 11px;*/
  color: #333;
  text-decoration: underline;
}
a:active {
  /*font-size: 11px;*/
}
/* ===========> LAYOUT SPECIFIC STYLES <=========== */

.container.index{
margin: 0;
}

.iit-banner{
  width: 100%;
  height: 30%;
}


div {
    border-radius: 5px;
    padding: 20px;
  }

form{
 text-align: center;
 background-color: white;
font-size: 20px;
font-family: Sofia;
font-weight: bold;
padding: 0px;
border-style: solid;
}
#Login{
  background-color: #ccc;
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid;
  border-width: 8px;

}

#Info{
  margin: 0;
  margin-top: 0;
}

/*INDEX PAGE HTML*//*INDEX PAGE HTML*//*INDEX PAGE HTML*//*INDEX PAGE HTML*/
