/* Login page style */
.clear {
	clear:both;
}
/* ===========> LINK STYLES <=========== */
a, a:link {
	/*font-family: Helvetica, Verdana, Sans-Serif;
	font-size: 11px;*/
	color: #cc0000;
	text-decoration: none;
}
a:visited {
	/*font-size: 11px;*/
	color: #cc0000;
	text-decoration: none;
}
a:hover {
	/*font-size: 11px;*/
	color: #333;
	text-decoration: underline;
}
a:active {
	/*font-size: 11px;*/
}
/* ===========> LAYOUT SPECIFIC STYLES <=========== */
div {
    border-radius: 5px;
    padding: 20px;
	
}
form{
 text-align: center;
 background-color: white;
font-size: 20px;
font-family: Sofia;
font-weight: bold;
padding: 4px;
border-style: solid;;
}
#head{background-color: #ccc;}
