/*CLEARFLOATS OF the CHILDREN*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}
/*CLEARFLOATS of the CHILDREN*/



.navbar-registration {
  background-color: lightgray;
  text-align: center;
}

.navbar-registration ul {
  list-style-type: none;
  display: inline-block;
}

.navbar-registration li {
  float: left;
  margin: 0;
}

.navbar-registration a {
  text-decoration: none;
  color: red;
  padding: 10px 20px;
  display: block;
  font-size: 140%;
}

.navbar-registration a:hover {
  background-color: black;
}

.container-registration {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Roboto Condensed';
  text-align: center;
}

.title-registration{
 text-align: center;
}

.info-registration{
  background: #8c8c8c;
  text-align: center;
  padding-top: 10px;
}

input[type=text], [type=submit]{
  width: 13%;
  padding: 4px 6px;
  margin: 5px 0;
  text-align: center;
  box-sizing: border-box;
  }


.button-registration {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em; /*(33.178px/16px=2.074em) Minor 3rd */
}


.footer-registration {
  color: red;
  padding: 10px;
}


@media screen and (min-width: 400px){


.title-registration {
  font-size: 3.583em; /*(57.331px/16px=3.583em) Minor 3rd */
}


label {
  font-size: 1.728em; /*(27.648px/16px=1.728em) Minor 3rd */
}

}

@media screen and (min-width: 960px){


.title-registration {
  font-size: 3.583em; /*(57.331px/16px=3.583em) Minor 3rd */
}



label {
 font-size: 1.728em; /*(27.648px/16px=1.728em) Minor 3rd */
}

}



