

.academics-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.navbar-academics {
  background-color: lightgray;
  text-align: center;
}

.navbar-academics ul {
  list-style-type: none;
  display: inline-block;
}

.navbar-academics li {
  float: left;
  margin: 0;
}

.navbar-academics a {
  text-decoration: none;
  color: red;
  padding: 10px 20px;
  display: block;
  font-size: 140%;
}

.navbar-academics a:hover {
  background-color: black;
}

.title-academics {
  font-size: 4em;
}

.academicsLINKS {
  background-color: lightgray;
}

.academicsLINKS ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

.academicsLINKS li {
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

.academicsLINKS a {
  text-decoration: none;
  color: red;
  display: block;
  font-size: 140%;
  text-align: center;
}

.academicsLINKS a:hover {
  color: blue;
}

.academics-footer {
  color: red;
  padding: 10px;
}

