/*CLEARFLOATS OF the CHILDREN*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}
/*CLEARFLOATS of the CHILDREN*/


.welcome-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background-color: lightgray;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  display: inline-block;
}

.navbar li {
  float: left;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: red;
  padding: 10px 20px;
  display: block;
  font-size: 140%;
}

.navbar a:hover {
  background-color: black;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.7em;
  padding-top: 20px;
}

.tab-title {
  font-size: 2em;
  padding-top: 5px;
}

.academicstab {
  background-color: lightgray;
  padding-bottom: 25px;
  font-size: 160%;
}

.slifetab {
  background-color: lightgray;
  padding-bottom: 25px;
  font-size: 160%;
}

.financestab {
  background-color: lightgray;
  padding-bottom: 25px;
  font-size: 160%;
}

.athleticstab {
  background-color: lightgray;
  padding-bottom: 25px;
  font-size: 160%;
}

.librarytab {
  background-color: lightgray;
  padding-bottom: 25px;
  font-size: 160%;
}

.researchtab {
  background-color: lightgray;
  padding-bottom: 25px;
  font-size: 160%;
}

.mystufftab {
  background-color: lightgray;
  padding-bottom: 25px;
  font-size: 160%;
}

.trainingandsupporttab {
  background-color: lightgray;
  padding-bottom: 25px;
  font-size: 160%;
}

footer {
  margin-top: 25px;
  margin-bottom: 25px;
  color: red;

}

